<div class="banner">
  <div class="overlay">
    <div class="text-content">
      <h1>Top 10 Tourist Places</h1>
      <p>Welcome to our guide to the top 10 tourist places in the city you select. Whether you’re a history buff, nature lover, or cultural enthusiast, every city has something for everyone. Explore the must-see attractions that make this city a favorite destination for travelers from around the globe.</p>
      <div class="dropdown">
        <input type="text" placeholder="Where are you going?" (focus)="onFocus()" (blur)="onBlur()" #input>
        <div *ngIf="showDropdown" class="dropdown-menu">
          <div *ngFor="let place of places" class="dropdown-item" (click)="selectCity(place.name)">
            <img [src]="place.imageUrl" alt="{{ place.name }}" width="50" height="50">
            <span>{{ place.name }}</span>
          </div>
        </div>
      </div>
      <div class="tourist-places" *ngIf="touristPlaces.length > 0">
        <h2>Top Attractions in {{ selectedCity }}</h2>
        <div class="tourist-place" *ngFor="let touristPlace of touristPlaces">
          <img [src]="touristPlace.imageUrl" alt="{{ touristPlace.name }}" class="tourist-place-img">
          <div class="tourist-place-content">
            <h3>{{ touristPlace.name }}</h3>
            <p>{{ touristPlace.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
