<div class="payment-details-container">
  <div class="payment-details">
    <h2>Payment Details</h2>
    <div *ngIf="item">
      <div *ngIf="item.type === 'flight'">
        <p>Airline: {{ item.airline }}</p>
        <p>From: {{ item.origin }}</p>
        <p>To: {{ item.destination }}</p>
        <p>Departure: {{ item.departureTime }}</p>
      </div>
      <div *ngIf="item.type === 'hotel'">
        <p>Hotel Name: {{ item.name }}</p>
        <p>Location: {{ item.location }}</p>
       <!--<p>Check-in: {{ item.checkInDate }}</p>
        <p>Check-out: {{ item.checkOutDate }}</p>--> 
      </div>
      <p>Price: {{ item.price }}</p>
      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
      <button (click)="confirmPayment()" class="button">Confirm Payment</button>
    </div>
  </div>
</div>
