<div class="banner">
    <div class="overlay">
      <div class="text-content">
        
      </div>
    </div>
  </div>
  
  <div class="mission-content">
    <h2>Our Mission</h2>
    <p>At Innovative Solutions, we are committed to transforming the way people plan and experience their travels. Our mission is to simplify travel planning, making it accessible and enjoyable for everyone.</p>
    
    <h3>Our Core Values</h3>
    <ul class="values-list">
      <li>
        <img src="../assets/core1.jpeg" alt="Core Value 1">
        <h4>Sustainability</h4>
        <p>We prioritize environmentally-friendly practices, ensuring our operations contribute positively to the world.</p>
      </li>
      <li>
        <img src="../assets/core2.jpeg" alt="Core Value 2">
        <h4>Quality</h4>
        <p>Our commitment to excellence ensures that we provide top-notch services and experiences to our customers.</p>
      </li>
      <li>
        <img src="../assets/core6.jpeg" alt="Core Value 3">
        <h4>Innovation</h4>
        <p>We foster creativity and forward-thinking to continuously enhance our services and lead in delivering exceptional travel experiences.</p>
      </li>
      <li>
        <img src="../assets/core3.jpeg" alt="Core Value 3">
        <h4>Reliability</h4>
        <p>We aim to be a dependable partner in your travel journey, providing consistent and trustworthy services every step of the way..</p>
      </li>
      <li>
        <img src="../assets/core4.jpeg" alt="Core Value 4">
        <h4>Accessibility</h4>
        <p>We strive to make travel planning easy and accessible for everyone, breaking down barriers to provide an inclusive platform.</p>
      </li>
      <li>
        <img src="../assets/core5.jpeg" alt="Core Value 5">
        <h4>Community Engagement</h4>
        <p>We believe in giving back to the communities we serve, fostering strong relationships and positive impacts wherever we operate.</p>
      </li>
      <!-- Add more core values as needed -->
    </ul>
  </div>
  
  <div class="footer">
    &copy; 2024 Your Company Name. All Rights Reserved.
  </div>
  
