<div class="banner">
    <div class="overlay">
      <div class="text-content">
        <h1>Meet the Team</h1>
        <p>Get to know the passionate individuals who make our success possible.</p>
      </div>
    </div>
  </div>
  
  <div class="team-content">
    <h2>Our Team</h2>
    <div class="team-members">
      <div class="team-member">
        <img src="../assets/manasa.jpg" alt="Team Member 1">
        <h3>Manasa Kondaveeti</h3>
        <p>Team Lead</p>
        <p>With over 5 years of experience as a Senior Systems Engineer and Associate Java Full Stack Developer, I have demonstrated expertise in Java, Spring Boot, Angular, SQL, MongoDB, and REST Web Services, successfully leading projects at DBS Bank and Infosys. My strong analytical skills, effective communication, and ability to deliver high-quality, scalable software solutions affirm my readiness to lead projects and drive technical excellence.</p>
      </div>
      <div class="team-member">
        <img src="../assets/Hrithik.jpg" alt="Team Member 2">
        <h3>Jaya Sai Hrithik Padavala</h3>
        <p>Lead Developer</p>
        <p>Dynamic programming analyst with over 2 years of experience at Cognizant, specializing in full-stack development and cloud-based solutions, with proficiency in Java, Python, JavaScript, Angular JS, Spring Boot, and microservices architecture. Skilled in CI/CD pipelines using Jenkins and Docker, database management with MySQL, Oracle, and MongoDB, and adept at resolving complex technical issues and delivering robust code solutions.</p>
      </div>
      <div class="team-member">
        <img src="../assets/Rakesh.jpg" alt="Team Member 3">
        <h3>Rakesh Kallampalli</h3>
        <p>Backend Developer </p>
        <p>A recent graduate with expertise in cloud-based solutions, backend development, and object-oriented programming using Python and Java. Proficient in managing MySQL databases, software engineering principles, Linux commands, and Agile methodologies, with notable projects including a client-server program, a Java-based web search engine, a color identification application, and a household power usage analysis tool.</p>
      </div>
      <div class="team-member">
        <img src="../assets/Charan.jpg" alt="Team Member 3">
        <h3>Saicharan Kalluri</h3>
        <p>Frontend Developer</p>
        <p>With a strong background in full-stack development and expertise in Java, Python,and HTML, I have developed and implemented web applications such as a color detection system and a web search engine. Proficient in creating interactive and intuitive user interfaces using AngularJS and integrating machine learning algorithms with libraries like OpenCV, I am dedicated to delivering aesthetically pleasing, responsive applications and collaborating with cross-functional teams to develop user-centered solutions.</p>
      </div>
      <div class="team-member">
        <img src="../assets/Nikhil.jpg" alt="Team Member 3">
        <h3>Nikhil Kakamanu </h3>
        <p>QA and Business Analyst</p>
        <p>I am a skilled QA Analyst with a Master of Applied Computing from the University of Windsor and a bachelor’s in information technology from RVR & JC College of Engineering, possessing strong technical skills in C, Java, Python, MySQL, SAP HANA, MongoDB, HTML5, and CSS3. At Accenture, I managed SAP HCM data migrations and customized solutions for clients, and my certifications in Python, data analytics, Spark SQL, Hadoop, and IT project management further enhance my qualifications for QA roles.</p>
      </div>
      <!-- Add more team members as needed -->
    </div>
  </div>
  
  <div class="footer">
    &copy; 2024 Your Company Name. All Rights Reserved.
  </div>