

 <div class="banner">
    <div class="overlay">
       <div class="text-content">
          <h1>Start Your Travel Dream With Us</h1>
          <p>Book flights, hotels, and cars effortlessly. Plan your travel within your budget and time limits. Discover the best deals and enjoy a seamless travel experience with Traveleasy!</p>
          <div class="search-box">
            
            <input type="text" placeholder="Where are you going?">
            <!--<label>
                <input type="checkbox"> I'm looking for flights
            </label>-->
            <button>Search</button>
        </div>
    </div>
 </div>
 </div>
 
 