/* orders.component.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@keyframes moveUp {
  0% {
    transform: translate(0, 0);
}
50% {
    transform: translate(20px, -20px);
}
100% {
    transform: translate(0, 0);
}
}


h2::after {
  content: "👋";
  display: inline-block;
  margin-right: 10px;
  animation: wave 2s infinite;
}


h3::after {
  content: "✈️";
  display: inline-block;
  margin-right: 10px;
  animation: moveUp 2s infinite;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}

li p {
  margin: 5px 0;
}

.no-orders-message {
  text-align: center;
  font-size: 18px;
  color: #555;
  margin-top: 20px;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #0056b3;
}

button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
